<h3>ルーム詳細</h3>
 
<%= form_with model: @post do |f| %>
  <table>
    <tr>
     <th><%= @room.price %></th>
    </tr>
    <tr>
     <th><%= f.label :date, "開始日" %></th>
     <td><%= f.datetime_field :start,class:"posts-start" %></td>
    </tr>
     <th><%= f.label :date, "終了日" %></th>
     <td><%= f.datetime_field :end,class:"posts-end" %></td>
    </tr>

  </table>
  <%= f.hidden_field :room_id, value: @room.id %>

 <table>
    <tr>
     <th>画像</th>
     <td><%= @room.image %></td>
   </tr>
   <tr>
     <th>ルーム名</th>
     <td><%= @room.name %></td>
   </tr>
   <tr>
     <th>住所</th>
     <td><%= @room.address %></td>
   </tr>
   <tr>
     <th>説明</th>
     <td><%= @room.info %></td>
   </tr>
 </table>
 <% end %>